:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 1024px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #f9f5d7;
    --entry: #fbf1c7;
    --content: #3c3836;
    --hljs-bg: #fbf1c7;
    --primary: #b57614;
    --secondary: #3c3836;
    --tertiary: #ebdbb2;
    --code-bg: #ebdbb2;
    --code-block-bg: #ebdbb2;
    --border: #d5c4a1;
}

.dark {
    --theme: #1d2021;
    --entry: #282828;
    --content: #ebdbb2;
    --hljs-bg: #282828;
    --primary: #d79921;
    --secondary: #ebdbb2;
    --tertiary: #3c3836;
    --code-bg: #3c3836;
    --code-block-bg: #3c3836;
    --border: #504945;
}
