:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 1024px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fdf9e6;
    --entry: #f9f5d7;
    --primary: #1d1d1d;
    --secondary: #3c3836;
    --tertiary: #f9f5d7;
    --content: #050505;
    --hljs-bg: #fffce5;
    --code-bg: #fffce5;
}

.dark {
    --theme: #1d2021;
    --entry: #282828;
    --content: #ebdbb2;
    --hljs-bg: #282828;
    --primary: #d79921;
    --secondary: #ebdbb2;
    --tertiary: #3c3836;
    --code-bg: #3c3836;
}
